services:
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  postgres:
    image: postgres:18
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5

  app:
    build: .
    command: uvicorn src.presentation.api.main:app --host 0.0.0.0 --port 8000
    ports:
      - "8000:8000"
    env_file:
      - .env
    healthcheck:
      test: ["CMD", "curl", "-f", "http://app/health"]
      interval: 5s
      timeout: 5s
      retries: 5
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_started

  celery:
    build: .
    command: celery -A src.infrastructure.celery worker -l info --pool=solo
    working_dir: /app
    depends_on:
      - redis
      - postgres
    env_file:
      - .env

  celery-beat:
    build: .
    command: celery -A  src.infrastructure.celery beat -l info
    working_dir: /app
    depends_on:
      - redis
      - postgres
    env_file:
      - .env

volumes:
  postgres-data: